SLACK_BOT_TOKEN = ""
SLACK_CHANNEL_IDS = ""
SLACK_FETCH_THREADS = "false"
SLACK_MESSAGE_LIMIT = "100"

DISCORD_BOT_TOKEN = ""
DISCORD_CHANNEL_IDS = ""
DISCORD_MESSAGE_LIMIT = "100"

APP_MODE = "demo"
